@* DisableLinePragmas: true TrimLeadingUnderscores: true *@
@* Generator : MvcView *@

@model NotLimited.Framework.Web.Controls.Model.ConfirmDialogModel

<script type="text/javascript">
	function ConfirmDialog() {
		$('#@Model.DialogId').modal('show');
	}

	function SubmitConfirmed() {
		$('#@Model.FormId').submit();
	}
</script>

<div class="modal fade" id="@Model.DialogId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h4 class="modal-title">@Model.Title</h4>
            </div>

            <div class="modal-body">
                @Model.Text
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SubmitConfirmed();">ОК</button>
            </div>
        </div>
    </div>
</div>

