@* TypeVisibility: Internal DisableLinePragmas: true TrimLeadingUnderscores: true GeneratePrettyNames : true *@
@* Generator : MvcHelper *@

@helper SimpleIcon(string icon)
{
    <i class="fa fa-@icon"></i>
}

@helper IconMargin(string icon)
{
    <i class="fa fa-margin-r fa-@icon"></i>
}

@helper IconText(string icon, string text)
{
    <span><i class="fa fa-margin-r fa-@icon"></i>@text</span>
}

@helper IconText(string icon, IHtmlString text)
{
    <span><i class="fa fa-margin-r fa-@icon"></i>@text</span>
}